<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指定接口的完整类名 -->
<mapper namespace="top.lldwb.file.saving.tool.server.dao.DirectoryInfoDao">
    <resultMap id="directoryInfo" type="top.lldwb.file.saving.tool.pojo.entity.DirectoryInfo">
        <id property="directoryInfoId" column="directory_info_id"/>
        <result property="directoryInfoName" column="directory_info_name"/>
        <result property="directoryInfoFatherId" column="directory_info_father_id"/>
        <result property="directoryInfoState" column="directory_info_state"/>
        <result property="userId" column="user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <insert id="addDirectoryInfo" parameterType="top.lldwb.file.saving.tool.pojo.entity.DirectoryInfo"
            useGeneratedKeys="true"
            keyProperty="directoryInfoId">
        insert into directory_info(directory_info_name, directory_info_father_id, directory_info_state, user_id)
        values (#{directoryInfoName}, #{directoryInfoFatherId}, #{directoryInfoState}, #{userId})
    </insert>

    <select id="getDirectoryInfoById" resultMap="directoryInfo">
        select directory_info_id,
               directory_info_name,
               directory_info_father_id,
               directory_info_state,
               user_id,
               create_time,
               update_time
        from directory_info
        where directory_info_id = #{directoryInfoId}
    </select>

    <select id="getDirectoryInfoByFatherIdAndName" resultMap="directoryInfo">
        select directory_info_id,
               directory_info_name,
               directory_info_father_id,
               directory_info_state,
               user_id,
               create_time,
               update_time
        from directory_info
        where directory_info_father_id = #{directoryInfoFatherId}
          and directory_info_name = #{directoryInfoName}
    </select>
    <select id="listByDirectoryInfoFatherId" resultMap="directoryInfo">
        select directory_info_id,
               directory_info_name,
               directory_info_father_id,
               directory_info_state,
               user_id,
               create_time,
               update_time
        from directory_info
        where directory_info_father_id = #{directoryInfoFatherId}
    </select>
    <select id="getDirectoryInfoFatherByDirectoryInfoFatherId" resultMap="directoryInfo">
        select directory_info_id,
               directory_info_name,
               directory_info_father_id,
               directory_info_state,
               user_id,
               create_time,
               update_time
        from directory_info
        where directory_info_id = #{directoryInfoFatherId}
    </select>
    <select id="listByDirectoryInfoFatherIdAndUserId" resultMap="directoryInfo">
        select directory_info_id,
               directory_info_name,
               directory_info_father_id,
               directory_info_state,
               user_id,
               create_time,
               update_time
        from directory_info
        where directory_info_id = #{directoryInfoFatherId} and user_id = #{userId}
    </select>
</mapper>