<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指定接口的完整类名 -->
<mapper namespace="top.lldwb.file.saving.tool.server.dao.DirectoryInfoDao">
    <resultMap id="directoryInfo" type="top.lldwb.file.saving.tool.pojo.entity.DirectoryInfo">
        <id property="directoryInfoId" column="directory_info_id"/>
        <result property="directoryInfoName" column="directory_info_name"/>
        <result property="directoryInfoFatherId" column="directory_info_father_id"/>
        <result property="directoryInfoState" column="directory_info_state"/>
        <result property="userId" column="user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <!-- 多对多映射 property代表字段 ofType代表类型-->
        <collection property="fileInfos" ofType="top.lldwb.file.saving.tool.pojo.entity.FileInfo">
            <id column="file_info_id" property="fileInfoId"/>
            <result column="file_info_name" property="fileInfoName"/>
            <result column="file_info_path" property="fileInfoPath"/>
            <result column="file_info_state" property="fileInfoState"/>
            <result column="file_info_size" property="fileInfoSize"/>
            <result column="f_directory_info_id" property="directoryInfoId"/>
            <result column="f_user_id" property="userId"/>
            <result column="f_create_time" property="createTime"/>
            <result column="f_update_time" property="updateTime"/>
        </collection>
    </resultMap>
    <insert id="addDirectoryInfo" parameterType="top.lldwb.file.saving.tool.pojo.entity.DirectoryInfo"
            useGeneratedKeys="true"
            keyProperty="directoryInfoId">
        insert into directory_info(directory_info_name, directory_info_father_id, directory_info_state, user_id)
        values (#{directoryInfoName}, #{directoryInfoFatherId}, #{directoryInfoState}, #{userId})
    </insert>
    <update id="updateDirectoryInfo" parameterType="top.lldwb.file.saving.tool.pojo.entity.DirectoryInfo">
        update directory_info
        <set>
            <if test="directoryInfoName != null and directoryInfoName != ''">
                directory_info_name = #{directoryInfoName},
            </if>
            <if test="directoryInfoFatherId != null and directoryInfoFatherId != ''">
                directory_info_father_id = #{directoryInfoFatherId},
            </if>
            <if test="directoryInfoState != null and directoryInfoState != ''">
                directory_info_state = #{directoryInfoState},
            </if>
        </set>
        where directory_info_id = #{directoryInfoId}
    </update>

    <select id="getDirectoryInfoById" resultMap="directoryInfo">
        select directory_info_id,
               directory_info_name,
               directory_info_father_id,
               directory_info_state,
               user_id,
               create_time,
               update_time
        from directory_info
        where directory_info_id = #{directoryInfoId}
    </select>

    <select id="getDirectoryInfoByFatherIdAndName" resultMap="directoryInfo">
        select directory_info_id,
               directory_info_name,
               directory_info_father_id,
               directory_info_state,
               user_id,
               create_time,
               update_time
        from directory_info
        where directory_info_father_id = #{directoryInfoFatherId}
          and directory_info_name = #{directoryInfoName}
    </select>
    <select id="listByDirectoryInfoFatherId" resultMap="directoryInfo">
        select directory_info_id,
               directory_info_name,
               directory_info_father_id,
               directory_info_state,
               user_id,
               create_time,
               update_time
        from directory_info
        where directory_info_father_id = #{directoryInfoFatherId}
    </select>
    <select id="getDirectoryInfoFatherByDirectoryInfoFatherId" resultMap="directoryInfo">
        select directory_info_id,
               directory_info_name,
               directory_info_father_id,
               directory_info_state,
               user_id,
               create_time,
               update_time
        from directory_info
        where directory_info_id = #{directoryInfoFatherId}
    </select>
    <select id="listByDirectoryInfoFatherIdAndUserId" resultMap="directoryInfo">
        select d.directory_info_id,
        d.directory_info_name,
        d.directory_info_father_id,
        d.directory_info_state,
        d.user_id,
        d.create_time,
        d.update_time,
        f.file_info_id as file_info_id,
        f.file_info_name as file_info_name,
        f.file_info_path as file_info_path,
        f.file_info_state as file_info_state,
        f.file_info_size as file_info_size,
        f.directory_info_id as f_directory_info_id,
        f.user_id as f_user_id,
        f.create_time as f_create_time,
        f.update_time as f_update_time
        from directory_info d
        left join file_info f on d.directory_info_id = f.directory_info_id
        <where>
            (d.directory_info_father_id = #{directoryInfoFatherId} or f.directory_info_id = #{directoryInfoFatherId})
            and d.user_id = #{userId}
            <if test="state != null and state != ''">
                and f.file_info_state = #{state}
                and d.directory_info_state = #{state}
            </if>
            <if test="state == null or state == ''">
                and f.file_info_state != -1
                and d.directory_info_state = 1
            </if>
        </where>
    </select>
</mapper>