<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指定接口的完整类名 -->
<mapper namespace="top.lldwb.file.saving.tool.server.dao.FileInfoDao">
    <resultMap id="fileInfo" type="top.lldwb.file.saving.tool.pojo.entity.FileInfo">
        <id column="file_info_id" property="fileInfoId"/>
        <result column="file_info_name" property="fileInfoName"/>
        <result column="file_info_path" property="fileInfoPath"/>
        <result column="file_info_state" property="fileInfoState"/>
        <result column="file_info_size" property="fileInfoSize"/>
        <result column="directory_info_id" property="directoryInfoId"/>
        <result column="user_id" property="userId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="getFileInfoByFileInfoId" resultMap="fileInfo">
        select file_info_id,
               file_info_name,
               file_info_path,
               file_info_state,
               file_info_size,
               directory_info_id,
               user_id,
               create_time,
               update_time
        from file_info
        where file_info_id = #{fileInfoId}
    </select>


    <select id="getFileInfoByPathANDUserId"
            resultMap="fileInfo">
        select file_info_id,
               file_info_name,
               file_info_path,
               file_info_state,
               file_info_size,
               directory_info_id,
               user_id,
               create_time,
               update_time
        from file_info
        where file_info_path = #{fileInfoPath}
          and user_id = #{userId}
    </select>

    <select id="getFileInfoByPathANDUserIds" resultMap="fileInfo">

        select file_info_id,
               file_info_name,
               file_info_path,
               file_info_state,
               file_info_size,
               directory_info_id,
               user_id,
               create_time,
               update_time
        from file_info
        where file_info_path like #{fileInfoPath}
          and user_id = #{userId}
    </select>
    
    <select id="getFileInfos" resultMap="fileInfo">
        select file_info_id,
               file_info_name,
               file_info_path,
               file_info_state,
               file_info_size,
               directory_info_id,
               user_id,
               create_time,
               update_time
        from file_info
    </select>

    <insert id="addFileInfo" parameterType="top.lldwb.file.saving.tool.pojo.entity.FileInfo" useGeneratedKeys="true"
            keyProperty="fileInfoId">
        insert into file_info(file_info_name,file_info_pat,file_info_md5,file_info_size,user_id)
        values (#{fileInfoName},#{fileInfoPath},#{fileInfoMd5},#{fileInfoSize},#{userId})
    </insert>
    
    <update id="updateFileInfo"  parameterType="top.lldwb.file.saving.tool.pojo.entity.FileInfo">
        update file_info
        <set>
            <if test="fileInfoName != null and fileInfoName != ''">
                file_info_name = #{fileInfoName},
            </if>
            <if test="fileInfoPath != null and fileInfoPath != ''">
                file_info_path = #{fileInfoPath},
            </if>
            <if test="fileInfoState != null and fileInfoState != ''">
                file_info_state = #{fileInfoState},
            </if>
            <if test="fileInfoSize != null and fileInfoSize != ''">
                file_info_size = #{fileInfoSize}
            </if>
            <if test="directoryInfoId != null and directoryInfoId != ''">
                directory_info_id = #{directoryInfoId},
            </if>
        </set>
        where file_info_id = #{fileInfoId}
    </update>

</mapper>