<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指定接口的完整类名 -->
<mapper namespace="top.lldwb.file.saving.tool.server.dao.OperationLogDao">
    <resultMap id="operationLog" type="top.lldwb.file.saving.tool.pojo.entity.OperationLog">
        <id column="operation_log_id" property="operationLogId"/>
        <result column="operation_log_name" property="operationLogName"/>
        <result column="operation_log_path" property="operationLogPath"/>
        <result column="operation_log_type" property="operationLogType"/>
        <result column="operation_log_size" property="operationLogSize"/>
        <result column="file_info_id" property="fileInfoId"/>
        <result column="directory_info_id" property="directoryInfoId"/>
        <result column="user_id" property="userId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="getOperationLogByOperationLogId" resultMap="operationLog">
        select operation_log_id
             , operation_log_name
             , operation_log_path
             , operation_log_type
             , operation_log_size
             , file_info_id
             , directory_info_id
             , user_id
             , create_time
             , update_time
        from operation_log
        where operation_log_id = #{operationLogId}
    </select>

    <insert id="addOperationLog" parameterType="top.lldwb.file.saving.tool.pojo.entity.OperationLog">
        insert into operation_log(operation_log_name
                                 , operation_log_path
                                 , operation_log_type
                                 , operation_log_size
                                 , file_info_id
                                 , directory_info_id
                                 , user_id)
        values (#{operationLogName},#{operationLogPath},#{operationLogType},#{operationLogSize},#{fileInfoId},#{directoryInfoId},#{userId})
    </insert>
</mapper>