<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指定接口的完整类名 -->
<mapper namespace="top.lldwb.file.saving.tool.server.dao.UserDao">
    <resultMap id="user" type="top.lldwb.file.saving.tool.server.entity.User">
        <id property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="userPassword" column="user_password"/>
        <result property="userEmail" column="user_email"/>
        <result property="userPermission" column="user_permission"/>
        <result property="userState" column="user_state"/>
    </resultMap>

    <select id="getUserByName" resultMap="user">
        select user_id, user_name, user_password, user_email, user_permission, user_state
        from user
        where user_name = #{userName}
    </select>
    <select id="getUserByMail" resultMap="user">
        select user_id, user_name, user_password, user_email, user_permission, user_state
        from user
        where user_email = #{userEmail}
    </select>

    <insert id="addUser" parameterType="User" useGeneratedKeys="true" keyProperty="uid">
        insert into test(user_name, user_password, user_email, user_permission, user_state)
        values (#{userName}, #{userPassword},#{userEmail},#{userPermission},#{userState});
    </insert>
    <update id="updateUser" parameterType="user">
        update test
        set user_name       = #{userName},
            user_password   = #{userPassword},
            user_email      = #{userEmail},
            user_permission = #{userPermission},
            user_state      = #{userState}
        where user_id = #{userId}
    </update>
</mapper>